.fullWidthDiv{
    display: flex;
    width: 100vw;
    height: 100%;
    
}
.fullWidthDivChildren{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.RowDivFlex{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
